
  :root {
  font-size: 45.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width:100vw;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}



.content {
  min-height: 100vh;
  min-width: 50vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#bae0e8), to(#29d8ff));
  background: linear-gradient(to right top, #bae0e8, #29d8ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .glass {
  min-height: 70vh;
  width: 80vw;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(30, 30, 57, 0.5)), to(rgba(30, 30, 57, 0.3)));
  background: linear-gradient(to right bottom, rgba(30, 30, 57, 0.5), rgba(30, 30, 57, 0.3));
  border-radius: 2rem;
  z-index: 3;
  -webkit-backdrop-filter: blur(1.2rem);
          backdrop-filter: blur(1.2rem);
}

.content .glass header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .glass header .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
  border: 2px plum solid;
  margin: 1.5rem 0 1rem 0;
  padding: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .glass header h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #fff;
}

.content .glass header p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.content .glass main p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 1.8rem 5rem 2rem 5rem;
}

.content .glass main .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .glass main .socialmedia a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #955776;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 2px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .glass main .socialmedia a img {
  width: 2.8rem;
  margin-right: 0.8rem;
}

.content .glass main .motion :hover {
  background-color: #8F3E2DE8;
  font-weight: bold;
}

.content .glass main .socialmedia #linkedin {
  margin-right: 2.2rem;
}

.content .glass main .motion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .glass main .motion a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #955776;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 2px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .glass main .motion a img {
  width: 2.8rem;
  margin-right: 0.8rem;
}

.content .glass main .motion a:hover {
  background-color: #75445d;
}

.content .glass main .motion #linkedin {
  margin-right: 2.2rem;
}

.content .glass main .gaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .glass main .gaming a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #955776;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 2px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .glass main .gaming a img {
  width: 2.8rem;
  margin-right: 0.8rem;
}

.content .glass main .gaming a:hover {
  background-color: #75445d;
}

.content .glass main .gaming #linkedin {
  margin-right: 2.2rem;
}

.content .glass footer {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 20px 20px;
  padding: 1rem 2.5rem;
}

.content .glass footer h3 {
  font-size: 1.6rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.4rem 1rem 0;
  border: rgba(255, 255, 255, 0.1);
}

.content .glass footer h5 {
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

.content .glass footer .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
#avatarid:active {
  border: 2px solid black;
}
#echo:active {
  color: red;
}
section:active {
  border: 1px outset black;
  box-shadow: 2px 2px 5px black;
}
.content5 {
  font-family: monospace;
  font-size: 20px;
  line-height: 35px;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.line {
  display: block;
}
.line {
  margin: 1px;
}
h1:hover{
  color: black;
  text-shadow: 0.8px 0.8px 1px deepskyblue;
}

@keyframes fenix {
  0%{
    color: indianred;
  }
  10%{
    color: deeppink;
  }
  20%{
    color: orange;
    
  }
  30%{
    color: yellow;
  }
  40%{
    color: lightgreen;
  }
  50%{
    color: darkgreen;
  }
  60%{
    color: blue;
    
  }
  70%{
    color: darkviolet;
  }
  80%{
    color: purple;
  }
  90%{
    color: darkred;
  }
  100%{
    color: red;
  }
}

/*# sourceMappingURL=main.css.map */
